.userHeader {
    width: 100%;
    background-color: #535353ab;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 30%;
}

.userImage img {
    width: 150px;
    height: 150px;
}

.userImage {
    background-color: white;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.userData {
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
    max-width: 550px;
}

.userName {
    padding-left: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.userName hr {
    color: white;
}

.recentlyPlayed {
    flex-grow: 1;
    background-color: white;
    margin: 10px 0px 10px 50px;
    border-radius: 30px;
}

.tabs {
    display: flex;
    justify-content: space-around;

}

.tab{
    max-height: 627px;
}

.tab-button {
    background-color: #535353ab;
    border: none;
    width: 100%;
    height: 100px;
    color: white;
}

.tab-button:hover{
    background-color: #9e9e9eab;
}

.tab-button.shadow {
    background-color: rgba(114, 114, 114, 0.623);
    color: black;
}

.tabContent {
    width: 100%;
    height: 100%;
}

.tabContent div {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.tabContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

.glass-morphism {
    background-color: rgba(184, 19, 206, 0.413) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 15px !important;
    border: 1px solid rgba(55, 0, 255, 0.2) !important;
}

.glass-morphism .modal-header,
.glass-morphism .modal-footer {
    background-color: transparent !important;
    border: none !important;
}

.glass-morphism .modal-title {
    color: #fff !important;
}

.glass-morphism .modal-body {
    color: #fff !important;
    padding: 20px !important;
}

.glass-morphism .modal-body input[type="text"],
.glass-morphism .modal-body input[type="file"],
.glass-morphism .modal-body input[type="checkbox"] {
    background-color: rgba(255, 255, 255, 0.8) !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 10px !important;
    margin-bottom: 15px !important;
}

.modal-content {
    height: auto !important;
}

.modal-header {
    padding: 15px !important;
}

.modal-footer {
    padding: 15px !important;
}

.link-no-style{
    text-decoration: none!important;
    color: white !important;
}

.link-no-style:hover{
    color: rgb(0, 113, 206)!important;
}

.bigAlbumImage {
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 5px black;
}

.bigAlbumImage:hover {
    box-shadow: 5px 5px 5px rgb(255, 255, 255);
}

.followName{
    font-size: 2em;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.followName:hover{
    color: #834fa5;
}

.followButtom{
    background: linear-gradient(to right, #834fa5,#9b1b30) !important;
    border: 2px solid black !important;
    border-radius: 20px !important;
    padding: 10px 17px !important;
    color: white !important;
}
.follow{
    margin-left: 20%;
    
}
.name{
    color:aliceblue;
}
input[type="file"]::-webkit-file-upload-button {
    margin-left: -1%;
    background-color: #000000; 
    color: white; 
    padding: 8px 20px; 
    border:0px; 
    border-radius: 10px; 
}

input[type="file"]::-webkit-file-upload-button:hover {
    background: #ff0000; /* Cambia el color al pasar el cursor sobre el botón */
}

.followersContainer{
    padding: 15px;
}

.fullAlbumContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.linkaso{
    margin-top: 20px;
    flex: 0 0 calc(25% - 10px);
    text-decoration: none;
    color: white;
    background-color: #8b8b8b7b;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px black;
    width: 240px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-height: 95%;
}

.linkaso2{
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: #8b8b8b7b;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px black;
    height: 280px !important;
}

.linkaso:hover{
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(255, 255, 255);
}

.linkaso2:hover{
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(255, 255, 255);
}


.linkaso img{
    width: 200px;
    height: 200px;
}

.linkaso2 img{
    width: 200px;
    height: 200px;
}

.tableButton {
    background-color: rgb(124, 16, 16) !important;
    border: #622d7a solid 2px !important;
    color: white !important;
    border-radius: 10px;
}

.tableButton:hover {
    background-color: rgba(8, 0, 91) !important;
}

.iconox{
    font-size: 1.5em;
}

.sporify a{
    text-decoration: none;
    padding: 20px;
    background-color:#169c46   !important;
    color: black !important;
}

.sporify a:hover{
    transform: scale(1.2);
    background-color: #1ed760 !important;
}

.sporify{
    cursor: pointer;
}