html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: rgb(124, 16, 16);
    background: -moz-linear-gradient(
        145deg,
        rgba(124, 16, 16, 1) 0%,
        rgba(8, 0, 91, 1) 100%
    );
    background: -webkit-linear-gradient(
        145deg,
        rgba(124, 16, 16, 1) 0%,
        rgba(8, 0, 91, 1) 100%
    );
    background: linear-gradient(
        145deg,
        rgba(124, 16, 16, 1) 0%,
        rgba(8, 0, 91, 1) 100%
    );
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgb(124, 16, 16);
}

main {
    height: 100%;
}
